

<form>
    <div>
        <p>
            <label>Имя</label><br>
            <input name="username" [(ngModel)]="order.name" />
        </p>
        <p>
            <label>Возраст</label><br>
            <input type="number" name="age" [(ngModel)]="order.totalSum" />
        </p>
            <button class="btn btn-default" (click)="submit(order)">Отправить</button>
        </div>
        @if(done){
            <h3>Ответ сервера</h3>
            <div>
                Имя: {{receivedOrder?.name}}<br>
                Возраст: {{receivedOrder?.totalSum}}
            </div>
        }`
</form>
